version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: sudo npm install -g jake
            - run: npm install
            - run: jake install-tfenv env=dev stack=ec2
            - run: tfenv install 0.12.18
            - run: tfenv use 0.12.18
            - run: jake get env=dev stack=ec2
            - run: jake init env=dev stack=ec2 && jake plan env=dev stack=ec2
            - run: jake init env=dev stack=ec2 && jake apply env=dev stack=ec2 autoApprove=true
            - run: jake init env=dev stack=ec2 && jake destroy env=dev stack=ec2 autoApprove=true
workflows:
    build-and-test:
      jobs:
        - build-and-test