version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: sudo npm install -g jake
            - run: npm install
            - run: jake install-tfenv
            - run: tfenv install 0.12.18
            - run: jake env["dev"] 
workflows:
    build-and-test:
      jobs:
        - build-and-test